<div>
    <% if (signatures.length > 0) { %>
    
        <h2>Undiskriftir</h2>
        <div>
            <p>Fjöldi undirskrifta: <%= count %></p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="table__head">Dags</th>
                    <th class="table__head">Nafn</th>
                    <th class="table__head">Athugasemd</th>
                    <% if (user.admin) { %>
                      <th class="table__header">Eyða</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% signatures.forEach((signature) => { %>
                <tr>
                    <td class="table__dags"><%= signature.signed %></td>
                    <td class="table__nafn"><%= signature.anonymous ?  'Nafnlaus' : signature.name %></td>
                    <td class="table__ath"><%= signature.comment %></td>
                    <% if (user.admin) { %>
                        <td class="table__delete">
                          <form method="post" action="/admin/delete">
                            <input type="hidden" name="id" value="<%= signature.id %>">
                            <button>Eyða</button>
                          </form>
                        </td>
                    <% } %>
                </tr>
                <% }) %>
            </tbody>
        </table>
        
        <div>
            <a href="<%= links._links.prev ? links._links.prev.href : '/' %>">Fyrri síða</a>
            <p>Síða <%= pageNumber %> af <%= pageAll %></p>
            <a href="<%= links._links.next ? links._links.next.href : links._links.self.href %>">Næsta síða</a>
        </div>
        <% } else { %>
            <p>Engar undiskriftir</p>
        <% } %>
    </div>

